.searchHouse-div{
    padding-top: 50px;
}

.searchHouse-form-div{
    
    margin: 30px 0;
}

.searchHouse-form{
    padding: 10px 10px;
}

.searchHouse-formgroup{
    box-shadow: 0 0 10px 0 #ccc;
    padding: 20px 10px;
    margin-bottom: 20px;
}

.searchHouse-formgroup input{
    border: none;
}

.guests-div{
    height: 260px;
}