$hoverColor: #2BDE8C;
$btnBackground: linear-gradient(to right, #2BDE8C, #78EF50);

.my-navbar{
    border-bottom: 1px solid rgb(206, 204, 204);
    height: 100px;
}

.my-nav-link{
    color: black;
    font-weight: bold;
    transition: 0.3s all ease-in-out;
}

.my-nav-link:hover{
    text-decoration: none;
    color: $hoverColor;
}

.sign-up-btn{
    padding: 10px 29px;
    background: $btnBackground;
    color: white;
    border-radius: 10rem;
    transition: 0.3s all ease-in-out;
}

@media screen and (max-width: 768px){
    .my-navbar{
        
        height: 10%;
    }

    .sign-up-btn{
        padding: 2px 12px;
    }
}